<div class="m-container">
    <div style="text-align: center;">
        <h1>Service resolution</h1>
        <h3>@(ComicName)</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-success m-prog-item" role="progressbar" style="@(ProcessWidth)">
                <strong>@(Current)/@(Total)</strong>
            </div>
        </div>
        <h3>@(ChapterName)</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-success m-prog-item" role="progressbar" style="@(DetailProcessWidth)">
                <strong>@(DetailCurrent)/@(DetailTotal)</strong>
            </div>
        </div>
        <div style="text-align: center;">
            <h5>@(ComicDescript)</h5>
            <h4>Estimate done at <strong>@(EstimateAt?.ToString("yyyy-MM-dd hh:mm:00"))</strong></h4>
            <h5>Service can accept parse request, but cooling is 1 min.</h5>
        </div>
    </div>
    <div class="page-header">
        <h1 style="text-align: center;">Service logs</h1>
    </div>
    @foreach (var item in ComicInfos)
    {
        var uri = $"/view/" + item.Info.Id;
        <div class="media">
            <div class="media-left">
                <a href="@uri">
                    <span class="glyphicon @(item.Succeed?"glyphicon-ok":"glyphicon-remove")" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <a href="@uri"><h3 class="media-heading">@(item.Info.Name)</h3></a>
                <p>
                    @(item.Info.Descript)
                </p>
            </div>
        </div>
    }
</div>